/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.idea
.env
.env.backup
_ide_helper.php
.phpstorm.meta.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
